---
import Layout from '../layouts/layout.astro';
import Card from "../components/card/card.astro";
import {getMakgoliPlaceList, } from "../data/list";
---

<Layout title="찾아가는 양조장">
    {getMakgoliPlaceList.map(place =>
            <a href={`/place-detail/${place.id}`}>
                <Card place={place} />
            </a>
    )}
</Layout>

<style>
</style>
