---
import Layout from '../layouts/layout.astro';
import Card from "../components/card/card.astro";
import {getMakgoliPlaceList, } from "../data/list";
---

<Layout title="찾아가는 양조장">
    <h1>양조장 찾아가자</h1>
    {getMakgoliPlaceList.map(place =>
            <Card place={place} />
    )}
</Layout>

<style>
</style>
